---
---

@import "{{ site.theme }}";

.nav--books {
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;

    span {
        font-weight: 300;
    }
}

.left {
    margin-right:auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    &.single-item {
        justify-content: space-around;
    }

    &.nav--books {
        font-size: smaller;
        li {
            padding: 5px 10px;
            border: 1px solid #ABD1C8;
            flex-basis: 31%;
        }

        :hover {
            cursor: pointer;
            animation: none;
            z-index: inherit;
            box-shadow: none;
        }
    }

    :hover {
        cursor: pointer;
        animation: jiggle 0.2s;
        transition: .4s all ease;
        z-index: 400;
        box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4)
    }

    li {
        padding: 10px 20px;
        border: 1px solid royalblue;
        flex-basis: 31%;

        :hover {
            cursor: pointer;
            animation: none;
            z-index: inherit;
            box-shadow: none;
        }
        .listitem__header {
            font-size: medium;
            font-weight: 700;
        }
    }
}


@keyframes jiggle {
    0% { transform: rotate(0deg) scale(1); opacity: 1; }
    33% { transform: rotate(1deg) scale(1.0); opacity: 0.75; }
    66% { transform: rotate(-1deg) scale(1.0); opacity: 0.5; }
    100% { transform: rotate(0deg) scale(1); opacity: 1; }
}