---
---

@import "{{ site.theme }}";
@import "listItem";
@import "list";
@import "anchor";

.assessment {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@keyframes jiggle {
    0% { transform: rotate(0deg) scale(1); opacity: 1; }
    33% { transform: rotate(1deg) scale(1.0); opacity: 0.75; }
    66% { transform: rotate(-1deg) scale(1.0); opacity: 0.5; }
    100% { transform: rotate(0deg) scale(1); opacity: 1; }
}
